.container.mt-4
  .row.justify-content-center
    .col-lg-10
      .card
        .card-header
          %h2.mb-0
            %i.fas.fa-edit.me-2
            Edit Feature Banner
        .card-body
          = render 'form'
