<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <i class="fas fa-image me-2"></i>
            New Feature Banner
          </h2>
        </div>
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

