.container.mt-4
  .row.justify-content-center
    .col-lg-10
      .card
        .card-header
          %h2.mb-0
            %i.fas.fa-image.me-2
            New Feature Banner
        .card-body
          = render 'form'
