<!-- Footer Section -->
<div id="footer" class="module parallax parallax-footer">
  <div id="copy-right">
    <div class="container">
      <div class="row text-center">
        <p>
          CopyRight &copy; 2015
          <%= link_to 'Red Village', '#' %>
        </p>
      </div>
    </div>
  </div>
</div>
