<!-- Footer Section -->
<div id="footer" class="module parallax parallax-footer">
  <div id="copy-right">
    <div class="container">
      <div class="row text-center">
        <p>
          CopyRight &copy; 2015
          <%= link_to 'Red Village', '#' %>
        </p>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <%= javascript_include_tag 'jquery', type: 'text/javascript' %>
  <%= javascript_include_tag '/css/bootstrap-admin/js/bootstrap.min.js', type: 'text/javascript' %>
  <%= javascript_include_tag 'jquery.prettyPhoto.js', type: 'text/javascript' %>
</div>
