<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RED VILLAGE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Gallery
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_gallery_upload">Create gallery</a></li>
            <li><a href="/galleries">All galleries</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            News
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_feature_upload">New news article</a></li>
            <li><a href="/admin_index">All news articles</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Videos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_video_upload">Upload video</a></li>
            <li><a href="/all_videos">All videos</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Music
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_music_upload">Upload new track</a></li>
            <li><a href="/tracks">All music</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Albums
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_album_upload">Upload new album</a></li>
            <li><a href="/admin_album_index">All albums</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Artists
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_artist_upload">Add new artist</a></li>
            <li><a href="/admin_artist_index">All artists</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Lifestyle
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_lifestyle_upload">New lifestyle article</a></li>
            <li><a href="/lifestyle_admin_index">All lifestyle articles</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Main Banners
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_banner_upload">Upload new banner</a></li>
            <li><a href="/banners_index">All banners</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_event_upload">New event</a></li>
            <li><a href="/admin_all_events">All events</a></li>
          </ul>
        </li>
        <li class="hvr-underline-from-center dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
            Stores
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/new_store_upload">New store</a></li>
            <li><a href="#">All stores</a></li>
          </ul>
        <li><a href="/">Goto Front-End</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-bottom: 20px;"></div>
