<!-- footer -->
<div id="footer" class="container">
  <div class="module parallax parallax-footer">
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center footer-info wow fadeInUp" data-wow-duration="1s">
        <%= image_tag "/images/Red-Cup-Logo.gif", alt: "Logo", width: "150" %>
      </div>
      <div class="col-md-3 col-sm-4 text-center footer-info wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
        <p>
          <i class="fa fa-map-marker fa-3x"></i>
        </p>
        <p class="footer-text">RedVillage Head quaters, 93 Catenbury Street, Zonnebloom , Cape Town</p>
      </div>
      <div class="col-md-3 col-sm-4 text-center footer-info wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
        <p>
          <i class="fa fa-envelope fa-3x"></i>
        </p>
        <p class="footer-text">
          <%= link_to "info@redvillage.co.za", "#" %>
          <%= link_to "media@redvillage.coza", "#" %>
        </p>
      </div>
      <div class="col-md-3 col-sm-4 text-center footer-info wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
        <p>
          <i class="fa fa-phone fa-3x"></i>
        </p>
        <p class="footer-text">
          063 096 4310
          <br>
          084 052 2558
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div id="copy-right" class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              CopyRight &copy; 2015 Red Village
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
