<!-- start header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="navbar-brand" href="/">
          <img class="logo img-responsive" alt="Red Cup logo" src="/images/Red-Cup-Logo.gif">
        </a>
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-left">
              <li class="navbar-left hvr-underline-from-center active">
                <a class="scroll" href="/#banner">HOME</a>
              </li>
              <li class="hvr-underline-from-center dropdown">
                <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                  ABOUT US
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Who we are</a>
                  </li>
                  <li>
                    <a href="#">Who we've worked with</a>
                  </li>
                  <li>
                    <a href="/team">Team</a>
                  </li>
                </ul>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/gallery">GALLERY</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/music">MUSIC</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/videos">VIDEOS</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/lifestyle">LIFESTYLE</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/news">NEWS</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/artists">ARTISTS</a>
              </li>
              <li class="hvr-underline-from-center">
                <a class="scroll" href="/events">EVENTS</a>
              </li>
              <!-- <li class="hvr-underline-from-center"> -->
              <!--   <a class="scroll" href="/#comingSoon">STORE</a> -->
              <li class="hvr-underline-from-center">
                <a href="/contact_us">CONTACT US</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-xs-12 nav-social">
        <div class="row">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-4">
            <ul class="nav navbar-nav">
              <li class="nav-social-link">
                <a href="https://www.facebook.com/TheRedcupvillage" target="_blank">
                  <img class="img-responsive" alt="Facebook" src="/images/facebook_circle.png">
                </a>
              </li>
              <li class="nav-social-link">
                <a href="https://twitter.com/Redcupvillage">
                  <img class="img-responsive" alt="Twitter" src="/images/twitter_circle.png" target="_blank">
                </a>
              </li>
              <li class="nav-social-link">
                <a href="https://www.instagram.com/redcupvillage" target="_blank">
                  <img class="img-responsive" alt="Instagram" src="/images/instagram_circle.png">
                </a>
              </li>
              <li class="nav-social-link">
                <a href="https://www.instagram.com/redcupvillage" target="_blank">
                  <img class="img-responsive" alt="Youtube" src="/images/youtube_circle.png">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

