
    <!-- breadcrump begin -->
    <div class="breadcrump">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrump-content">
                        <span class="page-name">Home</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        <span class="page-name">Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrump end -->

    <!-- blog begin -->
    <div class="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="add-space section-title text-center">
                        <h2>On The Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="part-img">
                                    <img src="new_look/assets/img/blog-1.jpg" alt="">
                                    <div class="date-on-img">
                                        <span class="date">04 may</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex align-items-center">
                                <div class="part-text">
                                    <h3>Web Design Principles and Best Prectics</h3>
                                    <p>Garcia, a versatil web designer. Phasellus vehicula the justo eg
                                        diam in posuere phasellus eget sem just the consequat gestass
                                        facilisis eleifend tempor metus. Phasellus vehicula justo egeted
                                        diames posuere.</p>
                                    <p>Phasellus vehicula the justo eg
                                        diam in posuere.<a href="blog_details.html">Read More!</a></p>
                                    <span class="poster">Rex Rifat</span>
                                    <span class="date">20.02.2019 Sunday, 10:30am</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex align-items-center">
                                <div class="part-text">
                                    <h3>15 Free Productive Design Tools</h3>
                                    <p>Garcia, a versatil web designer. Phasellus vehicula the justo eg
                                        diam in posuere phasellus eget sem just the consequat gestass
                                        facilisis eleifend tempor metus. Phasellus vehicula justo egeted
                                        diames posuere.</p>
                                    <p>Phasellus vehicula the justo eg
                                        diam in posuere.<a href="blog_details.html">Read More!</a></p>
                                    <span class="poster">Abu Ubaidah</span>
                                    <span class="date">20.02.2019 Sunday, 10:30am</span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 order-xl-last order-lg-last order-first">
                                <div class="part-img">
                                    <img src="new_look/assets/img/blog-2.jpg" alt="">
                                    <div class="date-on-img">
                                        <span class="date">04 may</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="part-img">
                                    <img src="new_look/assets/img/blog-3.jpg" alt="">
                                    <div class="date-on-img">
                                        <span class="date">04 may</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex align-items-center">
                                <div class="part-text">
                                    <h3>Getting Start With Sketch App</h3>
                                    <p>Garcia, a versatil web designer. Phasellus vehicula the justo eg
                                        diam in posuere phasellus eget sem just the consequat gestass
                                        facilisis eleifend tempor metus. Phasellus vehicula justo egeted
                                        diames posuere.</p>
                                    <p>Phasellus vehicula the justo eg
                                        diam in posuere.<a href="blog_details.html">Read More!</a></p>
                                    <span class="poster">Abir Khan</span>
                                    <span class="date">20.02.2019 Sunday, 10:30am</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex align-items-center">
                                <div class="part-text">
                                    <h3>15 Free Productive Design Tools</h3>
                                    <p>Garcia, a versatil web designer. Phasellus vehicula the justo eg
                                        diam in posuere phasellus eget sem just the consequat gestass
                                        facilisis eleifend tempor metus. Phasellus vehicula justo egeted
                                        diames posuere.</p>
                                    <p>Phasellus vehicula the justo eg
                                        diam in posuere.<a href="blog_details.html">Read More!</a></p>
                                    <span class="poster">Abu Ubaidah</span>
                                    <span class="date">20.02.2019 Sunday, 10:30am</span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 order-xl-last order-lg-last order-first">
                                <div class="part-img">
                                    <img src="new_look/assets/img/blog-4.jpg" alt="">
                                    <div class="date-on-img">
                                        <span class="date">04 may</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="part-img">
                                    <img src="new_look/assets/img/blog-5.jpg" alt="">
                                    <div class="date-on-img">
                                        <span class="date">04 may</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex align-items-center">
                                <div class="part-text">
                                    <h3>Getting Start With Sketch App</h3>
                                    <p>Garcia, a versatil web designer. Phasellus vehicula the justo eg
                                        diam in posuere phasellus eget sem just the consequat gestass
                                        facilisis eleifend tempor metus. Phasellus vehicula justo egeted
                                        diames posuere.</p>
                                    <p>Phasellus vehicula the justo eg
                                        diam in posuere.<a href="blog_details.html">Read More!</a></p>
                                    <span class="poster">Abir Khan</span>
                                    <span class="date">20.02.2019 Sunday, 10:30am</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog end -->