    <!-- breadcrump begin -->
    <div class="breadcrump">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <%= render_breadcrumbs %>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrump end -->

    <!-- contact begin -->
    <div class="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <div class="add-space section-title text-center">
                        <h2>Drop A Message</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <input type="text" placeholder="Enter your name">
                                    <span></span>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <input type="email" placeholder="Enter your email">
                                    <span></span>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <input type="text" placeholder="Enter your subject">
                                    <span></span>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <textarea placeholder="Write a message"></textarea>
                                    <span class="textarea"></span>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <button>Send Us Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->

    <div class="direct-contact d-none">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="add-space section-title text-center">
                        <h2>Direct Contact Us</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="address-area">
                        <ul>
                            <li><i class="fas fa-id-card"></i> 4653 Angus Road, New York</li>
                            <li><i class="fas fa-phone"></i> 567-987-1234</li>
                            <li><i class="fas fa-envelope"></i> Yourmail95h@demo.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
