    <!-- breadcrump begin -->
    <div class="breadcrump">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <%= render_breadcrumbs %>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrump end -->

    <!-- gallery begin -->
    <div class="gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="add-space section-title text-center">
                        <h2>Photo Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-1.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-5.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-2.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-3.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-6.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 d-xl-block d-lg-block d-none">
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-4.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="new_look/assets/img/gallery-7.jpg" alt="">
                        <div class="hover-effect">
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery end -->