# breadcrump begin
%div.breadcrump
  .container
    .row
      .col-xl-6.col-lg-6
        = render_breadcrumbs
# breadcrump end

/ social media begin
%div.gallery
  .container
    .row.justify-content-center
      .col-xl-8.col-lg-8
        %div.add-space.section-title.text-center
          %h2 Social Media
          %p Connect with us on social media
    .row
      .col-xl-12
        .row.justify-content-center
          .col-xl-3.col-lg-3.col-md-4.col-sm-6.mb-4
            .social-card
              %a{href: "https://www.facebook.com/TheRedcupvillage", target: "_blank"}
                %i.fab.fa-facebook
                %h5 Facebook
          .col-xl-3.col-lg-3.col-md-4.col-sm-6.mb-4
            .social-card
              %a{href: "https://twitter.com/Redcupvillage", target: "_blank"}
                %i.fab.fa-twitter
                %h5 Twitter
          .col-xl-3.col-lg-3.col-md-4.col-sm-6.mb-4
            .social-card
              %a{href: "https://www.instagram.com/redcupvillage", target: "_blank"}
                %i.fab.fa-instagram
                %h5 Instagram
          .col-xl-3.col-lg-3.col-md-4.col-sm-6.mb-4
            .social-card
              %a{href: "https://www.youtube.com/redcupvillage", target: "_blank"}
                %i.fab.fa-youtube
                %h5 YouTube
/ social media end

%style
  .social-card {
    text-align: center;
    padding: 40px 20px;
    border: 2px solid #ff006c;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .social-card:hover {
    background: #ff006c;
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(255,0,108,0.3);
  }
  
  .social-card a {
    color: #ff006c;
    text-decoration: none;
    display: block;
  }
  
  .social-card:hover a {
    color: #fff;
  }
  
  .social-card i {
    font-size: 3rem;
    margin-bottom: 15px;
  }

