<div id="services">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<!-- start gallery -->
<div id="gallery" class="text-center">
  <div class="container">
    <div class="row text-center">
      <div class="tabs tabs-style-linebox wow fadeInUp" data-wow-duration="2s">
        <nav>
          <ul class="filters">
            <li class="hvr-sweep-to-top active filter" data-filter="all">
              <span>All</span>
            </li>
            <li class="hvr-sweep-to-top filter" data-filter=".girlsPub">
              <span>Girls Pub</span>
            </li>
            <li class="hvr-sweep-to-top filter" data-filter=".danceParty">
              <span>Dance Party</span>
            </li>
            <li class="hvr-sweep-to-top filter" data-filter=".videos">
              <span>Videos</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row gallery text-center">
      <div class="col-md-12 noPadding">
        <div class="gallery-photo-grid">
          <div class="gallery-photos">
            <div class="gallery-photos-thumb">
              <% if @videos.any? %>
                <% @videos.in_groups_of(3) do |group| %>
                  <% group.take(5).collect do |video| %>
                    <div class="gallery-photo-item mix danceParty wow fadeIn">
                      <a class="pretty-photo" data-gal="prettyPhoto[gallery-photo-thumb]" href="https://img.youtube.com/vi/<%= video.uid %>/mqdefault.jpg">
                        <div class="photo-thumb">
                          <img alt="image-1" src="https://img.youtube.com/vi/<%= video.uid %>/mqdefault.jpg">
                        </div>
                        <div class="overlay">
                          <span class="gallery-icon">
                            <i class="fa fa-search-plus fa-2x"></i>
                          </span>
                        </div>
                      </a>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

