<!-- breadcrump begin -->
<div class="breadcrump">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <%= render_breadcrumbs %>
            </div>
        </div>
    </div>
</div>
<!-- breadcrump end -->

<!-- Curators listing begin -->
<div class="team-dj top-dj-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="add-space section-title text-center">
                    <h2>Our Curators</h2>
                    <p class="text-muted">Meet our content curators</p>
                </div>
            </div>
        </div>
        
        <% if @curators.any? %>
            <div class="row">
                <% @curators.each do |curator| %>
                    <%= render 'profile_card', profile: curator.profile, user: curator %>
                <% end %>
            </div>
        <% else %>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-muted">No curators with public profiles yet. Check back soon!</p>
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-- Curators listing end -->

