<!-- Page Top Section -->
<section id="page-top" class="section-style" data-background-image="images/background/page-top.jpg">
  <div class="pattern height-resize">
    <div class="container">
      <h1 class="site-title">
        Redvillage
      </h1>
      <!-- /.site-title -->
      <h3 class="section-name">
        <span>
          We Are
        </span>
      </h3>
      <!-- /.section-name -->
      <h2 class="section-title">
        Coming Soon
      </h2>
      <!-- /.Section-title -->
      <div class="row">
        <div class="span4"></div>
        <div class="span4" style="text-align: center;">
          <img src="/images/logo_badge_transparent_500.png">
        </div>
        <div class="span4"></div>
      </div>
      <!-- /.time-count-container -->
      <p class="time-until">
        <span>#RedCupVillage</span>
      </p>
      <!-- /.time-until -->
      <div class="next-section">
        <a class="go-to-about">
          <span></span>
        </a>
      </div>
      <!-- /.next-section -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.pattern -->
</section>
<!-- /#page-top -->
<!-- Page Top Section  End -->
<!-- jQuery Library -->
<script src="/assets/js/jquery-2.1.0.min.js" type="text/javascript"></script>
<!-- Modernizr js -->
<script src="/assets/js/modernizr-2.8.0.min.js" type="text/javascript"></script>
<!-- Plugins -->
<script src="/assets/js/plugins.js" type="text/javascript"></script>
<!-- Custom JavaScript Functions -->
<script src="/assets/js/functions.js" type="text/javascript"></script>
<!-- Custom JavaScript Functions -->
<script src="/assets/js/jquery.ajaxchimp.min.js" type="text/javascript"></script>

