<div class="container">
  <!-- start news tabs -->
  <div id="gallery">
    <!-- banner -->
    <div class="row">
      <div class="col-sm-12 banner">
        <img class="img-responsive" alt="image" src="http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg">
      </div>
    </div>
    <!-- banner end -->

    <!--news tabs -->
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-8">
            <p><%= @feature.heading %></p>
          </div>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </div>
      </div>
      <!-- Adverts -->
      <div class="col-sm-4">
        <div class="row front-news">
          <div class="col-sm-12">
            <h1 class="wow fadeInUp" data-wow-duration="2s">Adverts</h1>
            <ul class="advert-image">
              <li>
                <img class="img-responsive" alt="image" src="http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg">
              </li>
              <li>
                <img class="img-responsive" alt="image" src="http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

